:root {
    --white: #fff;

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --spacing-100: .5rem;
    --spacing-150: .75rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-1600: 8rem;
}

@font-face {
    font-family: 'Outfit';
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Young Serif';
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body,
.prep-time h2 {
    font-family: "Outfit", sans-serif;
}
h1,
.ingredients h2,
.instructions h2,
.nutrition h2 {
    font-family: "Young Serif", serif;
}
.ingredients h2,
.instructions h2,
.nutrition h2 {
    color: var(--brown-800);
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 100%;
}

/* -------- footer / attribution -------- */
.attribution { 
    font-size: .85rem; 
    text-align: center;

    position: relative;
    top: 10px;
}
.attribution a { 
    color: var(--rose-800);
    position: relative;
    font-weight: 600;
    text-decoration: none;
    z-index: 1; /*Needs to be set to 1 for hover effect to work*/
    transition: color 0.5s ease-in-out;
}
.attribution a::before {
    background: var(--rose-800);
    content: "";
    inset: 0;
    position: absolute;
    /* Can change scaleY to scaleX for different effect, along with changing origin*/
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
.attribution a:hover {
    color: var(--stone-150);
}
.attribution a:hover::before {
    /* Can change scaleY to scaleX for different effect, along with changing origin*/
    transform: scaleY(1);
    transform-origin: bottom;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding: var(--spacing-500) var(--spacing-400);
}


/* -------- header -------- */
h1 {
    color: var(--stone-900);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 100%;
}
header p {
    color: var(--stone-600);
    font-size: 1rem;
    line-height: 150%;
    margin-top: var(--spacing-300);
}

/* -------- prep time -------- */
.prep-time {
    background: var(--rose-50);   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-300);
    border-radius: var(--spacing-150);

    transition: transform .3s ease-in-out;
}
.prep-time:hover {
    transform: scale(1.05);
}
.prep-time h2 {
    color: var(--rose-800);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 100%;
}
.prep-time ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    margin-top: var(--spacing-200);
    padding-left: var(--spacing-300);
}
.prep-time ul li {
    color: var(--stone-600);
    font-size: 1rem;
    line-height: 150%;
    padding-left: var(--spacing-200);
}


/* -------- ingredients section -------- */
.ingredients {
    border-bottom: 1px solid var(--stone-150);
    padding-bottom: var(--spacing-400);
}
.ingredients ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    margin-top: var(--spacing-300);
    padding-left: var(--spacing-300);
}
.ingredients ul li {
    color: var(--stone-600);
    font-size: 1rem;
    line-height: 150%;
    padding-left: var(--spacing-200);
}
.ingredients ul li::marker {
    color: var(--brown-800);
}

/* -------- instructions section -------- */
.instructions {
    border-bottom: 1px solid var(--stone-150);
    padding-bottom: var(--spacing-400);
}
.instructions ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    margin-top: var(--spacing-300);
    padding-left: var(--spacing-300);
}
.instructions ol li {
    color: var(--stone-600);
    font-size: 1rem;
    line-height: 150%;
}

.instructions ol li::marker {
    color: var(--brown-800);
    font-weight: 700;
}
.instructions ol li div {
    margin-left: var(--spacing-200);
}

/* -------- nutrition section -------- */
.nutrition {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}
.nutrition p {
    color: var(--stone-600);
    font-size: 1rem;
    line-height: 150%;
}
.nutrition table tbody {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}
.nutrition table tr {
    display: flex;
    gap: var(--spacing-200);
    padding: 0 var(--spacing-400) var(--spacing-150);
    border-bottom: 1px solid var(--stone-150);
}
.nutrition table tr:last-child {
    padding: 0 var(--spacing-400);
    border: none;
}
.nutrition table tr th {
    color: var(--stone-600);
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;

    flex: 1 0 0; /* flex grow / shrink / basis */
    text-align: start;
}
.nutrition table tr td {
    color: var(--brown-800);
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;

    flex: 1 0 0; /* flex grow / shrink / basis */
}


/* -------- media queries -------- */

/* 768px = 48rem */
@media (width >= 48rem) {
    body {
        background: var(--stone-100);
        padding: var(--spacing-1600) var(--spacing-600);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container {
        background: var(--white);
        max-width: 38.5rem;
        padding: var(--spacing-500);
        border-radius: var(--spacing-300);
    }
    .inner-container {
        padding: var(--spacing-500) 0 0 0;
    }
    img {
        border-radius: var(--spacing-150);
    }
    h1 {
        font-size: 2.5rem;
    }
}

/* 1280px = 80rem */
@media (width >= 80rem) {
    .container {
        max-width: 46rem;
    }
}